<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form_validation</title>
    <!-- <link rel="stylesheet" href="public"> -->
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="form-container">
        <form class="contact-form">
            <h2>Adisa Jnr</h2>
            <p><i>Contact me here</i></p>
            <input type="text" id="name" placeholder="Full Name"><br>
            <input type="Email" id="email" placeholder="Email" autocomplete="off"><br>
            <input type="test" id="subject" placeholder="Subject" autocomplete="off"><br>
            <textarea   id="message"  placeholder="Message me here" cols="30" rows="10"></textarea> <br>
            <div class="button">
                <a href="">
                    <button type="submit" id="submit">Submit</button>
                </a>
            </div>
        </form>
    </div>

</body>
<script src="https://smtpjs.com/v3/smtp.js">
</script>
<script src="/login.js"></script>
</html>